.container {
    display: grid;
    grid: auto auto / auto auto auto auto;
    grid-gap: 10px;
    justify-content: space-around;
  }

  #main{
    background-color: cadetblue;
    color: cornsilk;
    font-family: cursive;
    font-size: 20px;
    height: 100vh;
  }